.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.class
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/resources/Lab1/src/lexer/Lexer.java
/resources/Lab1/src/frontend/lexer.flex
/resources/Lab2/src/frontend/parser.beaver
/resources/Lab2/src/parser/Parser.java
/resources/Lab3/src/frontend/namecheck.jrag
/resources/Lab3/src/frontend/names.jrag
/resources/Lab3/src/frontend/typecheck.jrag
/resources/Lab3/src/frontend/astutil.jrag
/resources/Lab3/src/frontend/errors.jrag
/resources/Lab3/src/frontend/types.jrag
/resources/Lab3/src/frontend/grammar.ast
/resources/Lab3/src/frontend/runtime.jrag
/resources/Lab3/src/ast/*.java
/working/
